header{
    display: flex;
    justify-content: center;
    flex-direction: row;
}







.weekend{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    }

    .csid{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }


.information{
background-color: white;
border: 4px solid black;
padding: 50px;
border-radius: 30px;
width: 650px;
line-height: 30px;
margin: 230px 0 0 0;
font-size: 35px;
height: 230px;

}

.photo{
    margin: 100px;
}

.vbn{
    display: block;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 20px;
  width: 120px;
  margin: 0px 0 220px 0px;
}



.game{
  text-align: center;
}

.comp-info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.comp1:nth-child(1) > .comp-title{
    margin: 15px 0px 0px 68px ;
}

.comp1:nth-child(2) > .comp-title{
    margin: 15px 0 0 96px;
}

.comp1:nth-child(3) > .comp-title{
    margin: 15px 0 0 109px;
}

.comp1:nth-child(4) > .comp-title{
    margin: 15px 0 0 80px;
    position: relative;
    left: 7px;
}

.csgo{
    display: flex;
    justify-content: space-between;
}

.comp1:nth-child(1) > .comp-info{
   margin: 9px 0 0 69px;
   line-height: 15px;
}

.comp1:nth-child(2) > .comp-info{
    margin: 10px 0 0 96px;
    line-height: 15px;
}

.comp1:nth-child(3) > .comp-info{
    margin: 7px 0 0 109px;
    line-height: 15px;
}

.comp1:nth-child(4) > .comp-info{
    margin: 7px 0 0 87px;
    line-height: 15px;
}

.comp1:nth-child(1) > .comp-btn{
    margin: 20px 0px 0px 68px;
}


.comp1:nth-child(2) > .comp-btn{
    margin: 20px 0 0 96px;
}

.comp1:nth-child(3) > .comp-btn{
    margin: 20px 0 0 109px;
}

.comp1:nth-child(4) > .comp-btn{
    margin: 20px 0 0 87px;
}


.comp-btn{
    display: block;
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 10px;
    width: 100px;
    text-align: center;
}




.foter{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: gray;
    color: white;
}

.wow{
    display: inline-block;
    position: relative;
    margin: 115px 0 0 0;
}



.drink{
    display: flex;
    flex-direction: column;
}

.instatg{
    display: flex;
}   

.socc{
    display: flex;
    flex-direction: column;
    margin: 0 60px 0 0;
}

.телефон{
    text-align: center;
}

.phone-info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.phone1:nth-child(1) > .phone-title{
    margin: 15px 0px 0px 68px ;
}

.phone1:nth-child(2) > .phone-title{
    margin: 15px 0 0 96px;
}

.phone1:nth-child(3) > .phone-title{
    margin: 15px 0 0 109px;
}

.phone1:nth-child(4) > .phone-title{
    margin: 15px 0 0 80px;
    position: relative;
    left: 7px;
}

.dota{
    display: flex;
    justify-content: space-between;
}

.phone1:nth-child(1) > .phone-info{
    margin: 9px 0 0 69px;
    line-height: 15px;
 }
 
 .phone1:nth-child(2) > .phone-info{
     margin: 10px 0 0 96px;
     line-height: 15px;
 }
 
 .phone1:nth-child(3) > .phone-info{
     margin: 7px 0 0 109px;
     line-height: 15px;
 }
 
 .phone1:nth-child(4) > .phone-info{
     margin: 7px 0 0 87px;
     line-height: 15px;
 }
 
 .phone1:nth-child(1) > .phone-btn{
     margin: 20px 0px 0px 68px;
 }
 
 
 .phone1:nth-child(2) > .phone-btn{
     margin: 20px 0 0 96px;
 }
 
 .phone1:nth-child(3) > .phone-btn{
     margin: 20px 0 0 109px;
 }
 
 .phone1:nth-child(4) > .phone-btn{
     margin: 20px 0 0 87px;
 }
 
 .phone-btn{
    display: block;
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 10px;
    width: 100px;
    text-align: center;
} 

.weare{
    background-color: white;
    border: 4px solid black;
    padding: 50px;
    border-radius: 30px;
    width: 800px;
    line-height: 30px;
    margin: 70px 0 0 600px;
    font-size: 30px;
    }
 
 .stay{
    font-size: 15px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 30px;
    width: 140px;
    height: 20px;
    text-align: center;
    margin: 0 0 100px 1000px;
 }

.together{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
 
.soloway{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.blue{
    margin: 0 250px 0 0;
}




