header{
    display: flex;
    justify-content: center;
    flex-direction: row;
}







.weekend{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    }

    .csid{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }


.information{
background-color: white;
border: 4px solid black;
padding: 50px;
border-radius: 30px;
width: 650px;
line-height: 30px;
margin: 230px 0 0 0;
font-size: 35px;
height: 230px;

}

.photo{
    margin: 100px;
}

.vbn{
    display: block;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 20px;
  width: 369px;
  margin: 0px 0 220px 0px;
  text-align: center;
  font-size: 25px;
}



.game{
  text-align: center;
  margin-bottom: 170px;
}

.comp-info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.comp1:nth-child(1) > .comp-title{
    margin: 15px 0px 0px 68px ;
    position: relative;
    right: 30px;
}

.comp1:nth-child(2) > .comp-title{
    margin: 15px 120px 0 96px;
    position: relative;
    right: 42px;
}

.comp1:nth-child(3) > .comp-title{
    margin: 15px 20px 0 109px;
    position: relative;
    right: 35px;
}

.comp1:nth-child(4) > .comp-title{
    margin: 15px 20px 0 80px;
    position: relative;
    right: 50px;
    
}

.csgo{
    display: flex;
    justify-content: space-around;
}

.comp1:nth-child(1) > .comp-info{
   margin: 9px 0 0 69px;
   position: relative;
   right: 30px;
   line-height: 15px;
}

.comp1:nth-child(2) > .comp-info{
    margin: 10px 0 0 96px;
    position: relative;
    right: 38px;
    line-height: 15px;
}

.comp1:nth-child(3) > .comp-info{
    margin: 7px 0 0 109px;
    position: relative;
    right: 35px;
    line-height: 15px;
}

.comp1:nth-child(4) > .comp-info{
    margin: 7px 0 0 87px;
    position: relative;
    right: 52px;
    line-height: 15px;
}

.comp1:nth-child(1) > .comp-btn{
    margin: 20px 0px 0px 68px;
    position: relative;
    right: 30px;
}


.comp1:nth-child(2) > .comp-btn{
    margin: 20px 0 0 96px;
    position: relative;
    right: 40px;
}

.comp1:nth-child(3) > .comp-btn{
    margin: 20px 0 0 109px;
    position: relative;
    right: 35px;
}

.comp1:nth-child(4) > .comp-btn{
    margin: 20px 0 0 87px;
    position: relative;
    right: 53px;
}


.comp-btn{
    display: block;
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 10px;
    width: 269px;
    text-align: center;
}




.foter{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: gray;
    color: white;
}

.wow{
    display: inline-block;
    position: relative;
    margin: 130px 0 0 0;
}



.drink{
    display: flex;
    flex-direction: column;
    margin: 15px 0 35px 65px;
}

.instatg{
    display: flex;
    margin-top: 17px;
}   

.socc{
    display: flex;
    flex-direction: column;
    margin: 15px 200px 0 0;
}

.телефон{
    text-align: center;
    margin-bottom: 80px;
}

.phone-info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.phone1:nth-child(1) > .phone-title{
    margin: 15px 0px 0px 68px ;
    position: relative;
    right: 44px;
}

.phone1:nth-child(2) > .phone-title{
    margin: 15px 0 0 96px;
    position: relative;
    right: 67px;
}

.phone1:nth-child(3) > .phone-title{
    margin: 15px 0 0 109px;
    position: relative;
    right: 43px;
}

.phone1:nth-child(4) > .phone-title{
    margin: 15px 0 0 80px;
    position: relative;
    right: 33px;   
}

.dota{
    display: flex;
    justify-content: space-between;
}

.phone1:nth-child(1) > .phone-info{
    margin: 9px 0 0 69px;
    position: relative;
    right: 44px;
    line-height: 15px;
 }
 
 .phone1:nth-child(2) > .phone-info{
     margin: 10px 0 0 96px;
     position: relative;
    right: 60px;
     line-height: 15px;
 }
 
 .phone1:nth-child(3) > .phone-info{
     margin: 7px 0 0 109px;
     position: relative;
    right: 42px;
     line-height: 15px;
 }
 
 .phone1:nth-child(4) > .phone-info{
     margin: 7px 0 0 87px;
     position: relative;
    right: 37px;
     line-height: 15px;
 }
 
 .phone1:nth-child(1) > .phone-btn{
     margin: 10px 0px 0px 68px;
     position: relative;
    right: 44px;
    position: relative;
    top: 5px;
 }
 
 
 .phone1:nth-child(2) > .phone-btn{
     margin: 20px 0 0 96px;
     position: relative;
    right: 60px;
    position: relative;
    bottom: 9px;
 }
 
 .phone1:nth-child(3) > .phone-btn{
     margin: 20px 0 0 109px;
     position: relative;
    right: 42px;
 }
 
 .phone1:nth-child(4) > .phone-btn{
     margin: 20px 0 0 87px;
     position: relative;
    right: 37px;
 }
 
 .phone-btn{
    display: block;
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 10px;
    width: 269px;
    text-align: center;
} 

.weare{
    background-color: white;
    border: 4px solid black;
    padding: 50px;
    border-radius: 30px;
    width: 800px;
    line-height: 30px;
    margin: 65px 0 0 600px;
    font-size: 30px;
    }
 
 .stay{
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 30px;
    width: 269px;
    height: 20px;
    text-align: center;
    margin: 140px 0 100px 900px;
 }

.together{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 100px 0 0 0;
}
 
.soloway{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 100px;
}

.blue{
    margin: 0 250px 0 160px;
}

footer{
    margin-top: 200px;
}

.сеть{
    margin-left: 15px;
}

.finish{
    display: none;
    position: absolute;
    z-index: 999;
    height: 400px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;   
}

.cover-block::before {
    display: block;
}
.window-position {
    display: block;
}

.us{
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 30px;
    width: 269px;
    height: 20px;
    text-align: center;
    position: relative;
    top: 150px
     
}

.email{
    position: relative;
    top: 100px;
}

.com{
    position: relative;
    top: 100px;
}